<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="all-messages">
      <% messages.forEach(message => { %>
      <a href="/details/<%= message.id %>">
        <div class="new-message">
          <h1><%= message.text %></h1>
          <p><%= message.user %></p>
          <p><%= message.added %></p>
        </div>
      </a>
      <% }) %>
    </div>

    <a class="add-message" href="/new">+</a>
  </body>
</html>
