<head>
  <title><%= title %></title>
</head>
<html>
  <body>
    <% messages.forEach(message => { %>
    <ul>
      <li><%= message.text %></li>
      <li><%= message.user %></li>
      <li><%= message.added %></li>
    </ul>
    <a href="/details/<%= message.id %>">Details</a>
    <% }) %>

    <a href="/new">Add Message</a>
  </body>
</html>
